/* SECTIONS */
section {
    margin-top: 5rem;
}

.section-images {
    margin: 1.5rem 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.section-images.lyra {
    height: 50rem;

}

.section-images.landscape {
    height: 30rem;
}

.section-images img {
    max-width: 100%;
    max-height: 100%;
}

.section-text {
    padding-right: 35%;
}

.section-context {
    color: var(--blue);
    font-weight: 600;
}

.section-desc {
    color: var(--gray);
    line-height: 1.5;
}

section .section-title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.section-text nav {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.section-text nav a {
    color: var(--gray);
    font-weight: 600;
}

.section-text ul {
    margin-top: 1.5rem;
}

.section-text ul li {
    color: var(--gray);
    margin-bottom: 1rem;
}

.fa-circle-check::before {
    color: #5ec269;
}

/* SECTION - MEETING SPACE */

.meeting-space .section-text nav a:nth-child(1) {
    color: var(--blue);
}

.meeting-space .section-images {
    background-image: url(../assets/img/purple-grad-1.png);
}

.meeting-space .section-images img {
    max-width: 90%;
    padding-top: 1.5rem;
}

.meeting-space p,
.meeting-space p span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.meeting-space p span {
    color: var(--gray);
}

.meeting-space p span img {
    max-width: 16px;
}

/* SECTION - AI TEAMMATE */
.ai-teammate .section-images {
    background-image: url(../assets/img/background.svg);
}

.ai-teammate .section-images .base,
.ai-teammate .section-images .overlay {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--gray);
    font-size: 1.5rem;
    gap: 4rem;
    max-width: 80%;
}

.ai-teammate .section-images .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* SECTION - KNOWLEDGE */
.knowledge .section-images {
    background-image: url(../assets/img/imgi_33_5sOjm3P6y3R2Ir7SaEy2WtFrMdo.png);
    justify-content: center;
}

.knowledge .section-images img {
    position: absolute;
    top: 0;
}

.knowledge .section-images img:nth-child(1) {
    transform: translateY(30%) scale(1.3);
    filter: opacity(.3);
}

.knowledge .section-images img:nth-child(2) {
    transform: translateY(38%) scale(1.4);
    filter: opacity(.5);
}

.knowledge .section-images img:nth-child(3) {
    transform: translateY(46%) scale(1.5);
}

.knowledge .sponsors,
.knowledge .sponsors li {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.knowledge .sponsors li {
    padding: 1.5rem 2rem;
    width: 100%;
    border-left: 1px solid #eee;
}

.knowledge ul.sponsors {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
}

/* SECTION - INTEGRATIONS */
.integrations .section-text nav a:nth-child(2) {
    color: var(--blue);
}

.integrations .section-images {
    background-image: url(../assets/img/imgi_19_HRv3p2lJwmZqEWY39IXdd3caM0.png);
    flex-direction: column;
}

.integrations .section-images .image-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    color: #cfd1d5;
}

.integrations .section-images img {
    max-width: 93%;
}

.integrations .section-images .section-button {
    position: absolute;
    bottom: 3rem;
    right: 4rem;
    padding: 1rem;
    border-radius: 32px;
    outline: none;
    background-color: #fff;
    border: 1px solid #eee;
    font-weight: 600;
    /* This should be gradient */
    color: var(--blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.179);
}

.connection {
    text-align: center;
}

.icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icons-wrapper .icon img {
    height: 100%;
}

.icons-wrapper .icon {
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #eee;
    padding: 1rem 3rem;
    height: 90px;
    margin-top: 20px;
    width: 21%;
}

/* SECTION - FAQ */
#faq {
    margin-top: 10rem;
}

.faq {
    text-align: center;
}

.faq .faq-list {
    margin-top: 2rem;
    background-color: #fff;
    padding: 0 1.5rem;
    border-radius: 8px;
    border: 1px solid #eee;
}

.faq .faq-items {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
}

.faq .section-desc {
    font-weight: 500;
}

.faq .section-desc a {
    color: var(--blue);
}

/* SECTION - PROMO CARD */

.gap {
    height: 20rem;
}

.promo-card {
    background-color: #fff;
    width: 100%;
    display: flex;
    padding: 48px;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
    position: absolute;
    z-index: 1;
    top: -13rem;
    left: 50%;
    transform: translateX(-50%);
}

.promo-card .promo-card-intro {
    display: flex;
    flex-direction: column;
    width: 28rem;
}

.promo-card .promo-card-intro img {
    max-width: 8rem;
}

.promo-card-intro .section-title {
    margin: 0;
}

.promo-card-intro .section-desc {
    margin: 1rem 0;
    color: var(--black);
}

.promo-card-intro .promo-buttons {
    display: flex;
    gap: 1rem;
}

.promo-buttons button {
    padding: 1rem 1.5rem;
    border-radius: 12px;
    outline: none;
    border: none;
    font-weight: 600;
}

.promo-buttons button.btn-sign {
    background-image: var(--gradient-btn);
    color: var(--white);
}

.promo-buttons button.btn-book {
    background-color: #fff;
    color: var(--black);
    border: 2px solid #eee;
}

.promo-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-top: 2.5rem;
}

.promo-card-details h3 {
    font-size: 2rem;
}

.promo-card-details .fa-circle-check::before {
    color: var(--blue);
}

.promo-card-details li {
    margin-bottom: 1rem;
}

/* FOOTER */
footer {
    position: relative;
    background-image: linear-gradient(to bottom, #131227, #32304c);
    padding-bottom: 5rem;
}

footer section {
    position: relative;
    width: 80vw;
    max-width: 1024px;
    margin: auto;
}

.footer-content {
    display: flex;
    justify-content: flex-start;
    gap: 7rem;
    color: var(--white);
}

.footer-content a {
    color: var(--white);
}

.footer-content ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-copyright~.footer-content {
    padding-left: 1rem;
    border-left: 1px solid var(--gray);
}

.footer-content li.title {
    color: #8799ff;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-copyright img {
    width: 10rem;
    filter: invert(100%);
}

/* HOVERS */
.promo-buttons button.btn-sign:hover,
.nav-buttons .btn-sign:hover,
.hero-buttons .btn-try:hover,
.promo-buttons button.btn-sign:hover {
    transform: scale(1.1);
    color: var(--black);
}

.nav-buttons .btn-login:hover,
.hero-buttons .btn-book:hover,
.promo-buttons button.btn-book:hover {
    background-color: #dce3ff;
    color: var(--blue);
    transform: scale(1.1);
}

.section-text nav a:hover {
    color: var(--blue);
}

.nav-links a:hover {
    color: var(--blue);
}

.footer-content li a:hover {
    text-decoration: underline;
}

.section-button:hover {
    transform: scale(1.1);
}